<!-- if there are results, show the form-->
<div *ngIf="selectedCompany && !selectedCompanyOfficers">
  <a href="/" mat-flat-button color="primary" class="mb-3" >&lt; Back to Search</a>
  <h2>{{ selectedCompany.title }}</h2>
  <div class="mb-3"><div class="font-bold">Company Number</div> {{selectedCompany.company_number}}</div>
  
  <div class="mb-3"><div class="font-bold">Registered office address</div>{{ selectedCompany.address_snippet}}</div>
  <div class="mb-3"><div class="font-bold">Company Status:</div>{{selectedCompany.company_status}}</div>
  <div class="mb-3"><div class="font-bold">Company Type:</div>{{selectedCompany.company_type}}</div>
  <div class="mb-3"><div class="font-bold">Incorporated on</div>{{ParseDate(selectedCompany.date_of_creation)}}</div>
  <div class="mb-3"><a mat-flat-button color="primary" [routerLink]="" (click)="selectListOfficers(selectedCompany)">List Officers</a></div>
</div>

<div *ngIf="selectedCompanyOfficers">
  <a mat-flat-button color="primary" class="mb-3" [routerLink]="" (click)="selectListOfficers(null)">&lt; Back to Company</a>
  <h2>{{ selectedCompany.title }} - Officers</h2>

  <div>
    <div class="mb-3" *ngFor="let officer of selectedCompanyOfficers">
      {{ officer.name }}
      <div class="font-bold capitalize">{{ officer.officer_role }}</div>
    </div>
  </div>
  
</div>