<!-- if there are results, show the form-->
<div *ngIf="selectedCompany && !selectedCompanyOfficers">
  <h2>{{ selectedCompany.title }}</h2>
  <p>Company Number: {{selectedCompany.company_number}}</p>
  <a href="/search" >&lt; Back to Search</a>
  <p>registered office address: {{ selectedCompany.address_snippet}}</p>
  <p>Company Status: {{selectedCompany.company_status}}</p>
  <p>Company Type: {{selectedCompany.company_type}}</p>
  <p>Incorporated on: {{ParseDate(selectedCompany.date_of_creation)}}</p>
  <p><a [routerLink]="" (click)="selectListOfficers(selectedCompany)">List Officers</a></p>
</div>

<div *ngIf="selectedCompanyOfficers">
  <h2>Officers</h2>
  <ul>
    <li *ngFor="let officer of selectedCompanyOfficers">
      <h3>{{ officer.name }}</h3>
      <p>{{ officer.officer_role }}</p>
    </li>
  </ul>
  <a [routerLink]="" (click)="selectListOfficers(null)">&lt; Back to Company</a>
</div>