<!-- if there are results, show the form-->
<div *ngIf="companies.length == 0">
  <form
    class="w-full flex flex-col items-center justify-center"
    name="form"
    (ngSubmit)="f.form.valid && fetchCompanies()"
    #f="ngForm"
  >
    <div>
      <input
        class="border rounded-sm w-96"
        type="text"
        name="searchText"
        [(ngModel)]="searchText"
        required
        minlength="3"
        placeholder="Search Company"
      />
    </div>
    <div class="mt-3">
      <button
        mat-flat-button
        color="primary"
        [disabled]="f.form.invalid"
        type="submit"
      >
        Search
      </button>

    </div>
    <div *ngIf="searchError">
      {{searchError}}
    </div>
  </form>
</div>
<div class="flex flex-col">
  <h2 *ngIf="companies.length>0">Search Results</h2>
  <a
    a
    [href]="'company?Query=' + company.company_number"
    class="border rounded-sm m-3 p-3 cursor-pointer flex flex-col hover:bg-gray-200"
    *ngFor="let company of companies"
  >
    <h2>
      {{ company.title }}
    </h2>
    <p>{{ company.description }}</p>
    <p>{{ company.address_snippet }}</p>
  </a>
</div>
